@import "../../styles/Variables.scss";

footer {
  background: $gris-palido;

  #container-footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;

    .social-networks {
      h3 {
        font-size: 20px;
        margin-left: 20px;
      }
      hr {
        margin-left: 18px;
        height: 2px;
        background: blue;
      }

      ul {
        font-size: 20px;
        list-style: none;
        text-decoration: none;
        display: flex;
        margin-left: 10px;

        li {
          margin: 7px;

          .linkedin {
            color: blue;
          }
        }
      }
    }

    .copyrigth {
      color: black;
      display: flex;
      align-items: center;
    }

    .contact {
      margin-right: 8px;

      h3 {
        font-size: 20px;
      }

      hr {
        height: 2px;
        margin-bottom: 2px;
        background: blue;
      }

      p {
        font-size: 12px;
        margin-bottom: 3px;
      }
    }
  }
}
