<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
// Colores
$primary-color: #004AAD;
$secondary-color: #5D5D5D;
$gris-palido: #D9D9D9

// Fuentes
$primary-font: 'Raleway', sans-serif;
$secondary-font: "Roboto", sans-serif;

// Tamaños
$base-font-size: 16px;
$base-line-height: 1.5;
