@import "../../styles/Variables.scss";

#container-fly {
  font-family: $primary-font;
  text-shadow: 3px 0px 7px white;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../../../public/img/background/fondo-fly.jpg");
  background-position: bottom;
  background-size: cover;
}

.container-form-fly {
  width: 100vw;

  display: flex;
  justify-content: center;
}

.form-fly {
  display: flex;
  padding: 15px;

  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 70px;

    p {
      color: #fff;
      margin-bottom: 4px;
      margin-left: 5px;
    }

    input {
      background-color: white;
      color: black;
      border: none;
      border-radius: 8px;
      width: 150px;
      height: 25px;
    }
  }

  button {
    color: black;
    background-color: white;
    border: none;
    display: flex;
    width: 80px;
    height: 20px;
    margin-top: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
  }
}
