@import "../../styles/Variables.scss";

* {
  margin: 0;
  padding: 0;
}

#container-todo {
  .container-nav header {
    background-color: $gris-palido;
    width: 100%;

    .container-seccion {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      height: 80px;

      #logo {
        width: 100px;
        height: 100px;
        flex-shrink: 0;
      }

      a {
        text-decoration: none;

        img {
          width: 100px;
          height: 100px;
        }
      }

      #navbar {
        display: flex;
      }

      .container-button {
        width: 80px;
        height: 30px;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.58);
        background: #004aad;
        display: flex;
        align-items: center;
        justify-content: center;
        .button {
          margin-top: 5px;
          display: flex;
          justify-content: center;
          align-items: center;

          #icon {
            color: #fff;
            font-size: 40px;

            a {
              display: flex;
            }
          }

          button {
            color: #ffff;
            font-size: 15px;
            margin-bottom: 5px;
            background-color: #004aad;
            cursor: pointer;
            border: none;
          }
        }
      }
    }

    & #navbar ul {
      list-style: none;
      display: flex;

      & li a {
        margin: 0 12px;
      }
    }
  }
}
