@import "../../styles/Variables.scss";

#container-registro {
  font-family: $primary-font;
  font-size: 15px;
  background: linear-gradient(
      rgba(104, 104, 104, 0.488),
      rgba(104, 104, 104, 0.488)
    ),
    url("../../../public/img/background/img-login.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  padding: 210px;
  align-items: center;
  justify-content: center;

  h2 {
    text-align: center;
    padding: 10px;
  }

  .boxR {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    color: white;
    text-shadow: 0px 2px 8px white;
    box-shadow: 0px 0px 15px 2px rgb(40, 206, 255);
  }

  #container-infoR {
    display: flex;
    flex-direction: column;
    align-items: center;

    .infoR {
      margin-bottom: 5px;
    }

    input {
      border-radius: 8px;
    }

    label {
      display: block;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .buttonR {
      margin-top: 5px;

      .buttonR3:hover {
        color: rgb(0, 255, 81);
        transition: 0.6s;
      }

      .buttonR4:hover {
        color: red;
        transition: 0.6s;
      }

      button {
        color: white;
        text-shadow: 0px 2px 8px white;
        border: none;
        cursor: pointer;
        margin-right: 5px;
        margin-top: 5px;
        padding: 3px;
        background: none;
      }
    }
  }
}
